
<form method="POST" id="form_tahfidz_siswa">

   <div class="col-sm-12">
      <b>Pencarian Siswa</b>
      <!-- <div class="form-group"> -->
      <select name="cari_siswa" class="form-control show-tick" data-live-search="true" onchange="changeFunc();" id="cari_siswa">
         <option value=""></option>
         {% for m in data %}
         <option value="{{ m.nis }}#{{ m.namasiswa }}#{{ m.kelas }}#{{ m.namaayah }}">{{ m.nis }} - {{ m.namasiswa }} Kelas {{ m.kelas }} Bin/ti {{ m.namaayah }}</option>
         {% endfor %}

      </select>
      <!-- </div> -->
      <div class="form-group">
         <div id="error_box"></div>
      </div>
   </div>

   <!-- batas -->

   <div class="col-sm-12">
      <!-- <b>Data Siswa</b> -->
      <div class="form-group">

         <input id="nis" name="nis" type="text" class="form-control" readonly />
         <input id="namasiswa" name="namasiswa" type="text" class="form-control" readonly />
         <input id="kelas" name="kelas" type="text" class="form-control" readonly />
         <input id="namaayah" name="namaayah" type="text" class="form-control" readonly />

      </div>
   </div>

   <div class="col-sm-3">
      <b>Tanggal</b>
      <div class="form-group">
         <!-- <div class="form-line"> -->
         <input size = "15" type="text" class="form-control" name="tanggal" id="tanggalInput" value="{{ "now" | date("Y-m-d") }}"  required />
         <!-- </div> -->
      </div>
   </div>

   <div class="col-sm-3">
      <b>Tambahan</b>
      <div class="input-group spinner" data-trigger="spinner">
         <div class="form-line">
            <input name="tambahan" type="text" class="form-control text-center" value="1" data-rule="quantity">
         </div>
         <span class="input-group-addon">
            <a href="javascript:;" class="spin-up" data-spin="up"><i class="glyphicon glyphicon-chevron-up"></i></a>
            <a href="javascript:;" class="spin-down" data-spin="down"><i class="glyphicon glyphicon-chevron-down"></i></a>
         </span>
      </div>
   </div>

   <div class="col-sm-6">
      <b>Tambahan Keterangan</b>
      <div class="form-group">
         <div class="form-line">
            <input id="tambah_keterangan" name="tambah_keterangan" type="text" class="form-control">
         </div>
      </div>
   </div>

   <div class="col-sm-6">
      <b>Murojaah</b>
      <div class="form-group">
         <div class="form-line">
            <input id="murojaah" name="murojaah" type="text" class="form-control">
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <b>Murojaah Hafalan Baru</b>
      <div class="form-group">
         <div class="form-line">
            <input id="murojaahbaru" name="murojaahbaru" type="text" class="form-control">
         </div>
      </div>
   </div>


   <div class="col-sm-12">
      <div class="form-group">
         <input type="hidden" name="{{ csrf_name }}" value="{{ csrf_hash }}">
         <button type="reset" class="btn btn-danger waves-effect">Batalkan Isian</button>
         <button class="btn btn-primary waves-effect" type="submit">Simpan Data</button>
      </div>
   </div>
</form>
